<div class="risk-control">
  <div class="row">
    <div class="col-6">
      <div class="chart-wrap">
        <div echarts [options]="riskControlOption1" class="gauge-chart"></div>
      </div>
      <div class="text-center">
        <span>逾期率（金额）</span>
      </div>
    </div>
    <div class="col-6 has-grey-bgc right-box">
      <p class="risk-item">
        <span class="text-left risk-name">逾期金额</span>
        <span class="text-right font-yellow risk-val">{{riskControl.overDueAmt | number}}</span>
      </p>
      <p class="risk-item">
        <span class="text-left risk-name">待收金额</span>
        <span class="text-right font-yellow risk-val">{{riskControl.loanAmt | number}}</span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="chart-wrap">
        <div echarts [options]="riskControlOption2" class="gauge-chart"></div>
      </div>
      <div class="text-center">
        <span>逾期率（笔数）</span>
      </div>
    </div>
    <div class="col-6 has-grey-bgc right-box">
      <p class="risk-item">
        <span class="text-left risk-name">逾期笔数</span>
        <span class="text-right font-yellow risk-val">{{riskControl.overDueNumber | number}}</span>
      </p>
      <p class="risk-item">
        <span class="text-left risk-name">放款笔数</span>
        <span class="text-right font-yellow risk-val">{{riskControl.loanNumber | number}}</span>
      </p>
    </div>
  </div>
  <div class="amount text-center">
    <p class="amount-value c-m2 font-yellow"><span class="c-m2-key">C-M2 </span>{{cm2 | number:'1.0-2'}}%</p>
  </div>
  <!-- <div class="row">
    <div class="col-6">
      <div class="chart-wrap">
        <div echarts [options]="riskControlOption3" class="gauge-chart"></div>
      </div>
      <div class="text-center">
        <span>C-M2</span>
      </div>
    </div>
    <div class="col-6 has-grey-bgc right-box">
      <p class="risk-item">
        <span class="text-left risk-name">M2</span>
        <span class="text-right font-yellow risk-val">{{riskControl.m2Amt | number}}</span>
      </p>
      <p class="risk-item">
        <span class="text-left risk-name">C</span>
        <span class="text-right font-yellow risk-val">{{riskControl.cAmt | number}}</span>
      </p>
    </div>
  </div> -->
</div>
