<div class="info">
  <my-ribbon ribbonNum="1" contentTxt="个人信息"></my-ribbon>
  <div class="person-info row">
    <!-- <div class=""> -->
      <div class="col-7">
        <p class="info-item">
          <span class="item-name text-left">姓名</span>
          <span class="item-value text-center font-yellow">{{myInfo.name}}</span>
        </p>
        <p class="info-item">
          <span class="item-name text-left">工号</span>
          <span class="item-value text-center font-yellow">{{myInfo.number}}</span>
        </p>
        <p class="info-item">
          <span class="item-name text-left">职位</span>
          <span class="item-value text-center font-yellow">{{myInfo.position}}</span>
        </p>
        <p class="info-item">
          <span class="item-name text-left">职级</span>
          <span class="item-value text-center font-yellow">{{myInfo.rank}}</span>
        </p>
        <p class="info-item">
          <span class="item-name text-left">上级</span>
          <span class="item-value text-center font-yellow">{{myInfo.superior}}</span>
        </p>
        <p class="info-item">
          <span class="item-name text-left">入职时间</span>
          <span class="item-value text-center font-yellow">{{myInfo.dateStr}}</span>
        </p>
        <!-- <p class="info-item">
          <span class="item-name text-left">MOB</span>
          <span class="item-value text-center font-yellow">{{myInfo.mob}}</span>
        </p> -->
      </div>
      <div class="col-5">
        <img [src]="myInfo.avatarUrl" class="avatar" alt="" width="100%" >
      </div>
      <div class="col-12">
        <p class="info-item">
          <span class="item-name text-left">区域</span>
          <span class="item-value text-center font-yellow">{{myInfo.bigArea + '-' + myInfo.smallArea}}</span>
        </p>
        <p class="info-item">
          <span class="item-name text-left">团队</span>
          <span class="item-value text-center font-yellow">{{myInfo.store + '-' + myInfo.team}}</span>
        </p>
      </div>
    <!-- </div> -->
  </div>

  <my-ribbon ribbonNum="2" contentTxt="我的竞争力"></my-ribbon>
  <div class="radar-chart-wrap">
    <div echarts [options]="radarOption" class="radar-chart"></div>
  </div>

  <my-ribbon ribbonNum="3" contentTxt="我的成长轨迹"></my-ribbon>
  <div class="timeline">
    <div class="timeline-item" *ngFor="let item of growthTrack">
      <div class="timeline-badge"></div>
      <div class="timeline-body has-grey-bgc">
        <div class="timeline-body-arrow"> </div>
        <div class="timeline-body-content">
          <p class="font-yellow">{{item.dateStr}}</p>
          <p>{{item.event}}</p>
        </div>
      </div>
    </div>
  </div>
