<div class="last-month-review">
  <div class="analysis has-grey-bgc">
    <div class="sub-title-wrap">
      <div class="dashed"></div>
      <h4 class="sub-title has-grey-bgc">业绩分析</h4>
    </div>
    <div class="row analysis-list">
      <div class="col-6">
        <p class="analysis-item">
          <span class="item-name text-left has-grey-bgc">申请单量</span>
          <span class="item-value text-right has-grey-bgc font-yellow">{{pfmcAnalysis.appNum | number}}</span>
        </p>
        <p class="analysis-item">
          <span class="item-name text-left has-grey-bgc">通过单量</span>
          <span class="item-value text-right has-grey-bgc font-yellow">{{pfmcAnalysis.passNum | number}}</span>
        </p>
        <p class="analysis-item">
          <span class="item-name text-left has-grey-bgc">拒绝单量</span>
          <span class="item-value text-right has-grey-bgc font-yellow">{{pfmcAnalysis.refuseNum | number}}</span>
        </p>
        <p class="analysis-item">
          <span class="item-name text-left has-grey-bgc">逾期率(金额)</span>
          <span class="item-value text-right has-grey-bgc font-yellow">{{pfmcAnalysis.amtRate}}%</span>
        </p>
      </div>
      <div class="col-6">
        <p class="analysis-item">
          <span class="item-name text-left has-grey-bgc">放款单量</span>
          <span class="item-value text-right has-grey-bgc font-yellow">{{pfmcAnalysis.loanNum | number}}</span>
        </p>
        <p class="analysis-item">
          <span class="item-name text-left has-grey-bgc">通过率</span>
          <span class="item-value text-right has-grey-bgc font-yellow">{{pfmcAnalysis.passRate}}%</span>
        </p>
        <p class="analysis-item">
          <span class="item-name text-left has-grey-bgc">C-M2</span>
          <span class="item-value text-right has-grey-bgc font-yellow">{{pfmcAnalysis.cm2Rate}}%</span>
        </p>
        <p class="analysis-item">
          <span class="item-name text-left has-grey-bgc">逾期率(笔数)</span>
          <span class="item-value text-right has-grey-bgc font-yellow">{{pfmcAnalysis.cntRate}}%</span>
        </p>
      </div>
    </div>
    <div class="text-center">
      <p class="font-yellow amount-value">{{pfmcAnalysis.amt | number}}</p>
      <span>合同金额</span>
    </div>
  </div>

  <div class="trend">
    <div class="sub-title-wrap">
      <div class="dashed"></div>
      <h4 class="sub-title">近6个月业绩趋势</h4>
    </div>
    <div class="trend-chart-wrap">
      <div echarts [options]="trendOption" class="trend-chart"></div>
    </div>
  </div>

  <div class="composition">
    <div class="sub-title-wrap">
      <div class="dashed"></div>
      <h4 class="sub-title">业绩构成</h4>
    </div>
    <div class="row has-grey-bgc">
      <div class="col-6">
        <div class="pie-chart-wrap">
          <div echarts [options]="loanOrderOption" class="pie-chart"></div>
          <h4 class="text-center chart-title">放款单量构成</h4>
        </div>
      </div>
      <div class="col-6">
        <div class="pie-chart-wrap">
          <div echarts [options]="contractValueOption" class="pie-chart"></div>
          <h4 class="text-center chart-title">合同金额构成</h4>
        </div>
      </div>
      <div class="legendlist">
        <div class="legend" *ngFor="let item of legendList;let i=index">
          <div [style.backgroundColor]="legendColorList[i]" class="legend-box">
          </div>
          <span>{{item}}</span>
        </div>
      </div>
    </div>
    <div class="table-wrap">
      <table class="table">
        <thead>
          <tr>
            <th>类别</th>
            <th>申请单量</th>
            <th>放款单量</th>
            <th>通过率</th>
            <th>件均金额</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let item of pfmcComposition">
            <td class="font-yellow">{{item.prodName}}</td>
            <td>{{item.appNum}}</td>
            <td>{{item.loanNum}}</td>
            <td>{{item.passRate}}%</td>
            <td>{{item.avgAmt | number}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
