.rank {
  padding-top:.48rem;
}
.table-wrap {
  margin-top: .51rem;
  min-height: 300px;
}
.table td {
  font-size: 14px;
}
.my-rank {
  position: relative;
  height: 10.16rem;
  margin-bottom: .59rem;
}
.rank-top img {
  width: 100%;
}
.rank-other img, .rank-per-10 img {
  width: 90%;
  margin-left: 5%;
  margin-top: 1.53rem;
}
.percent-num {
  font-size: .64rem;
  text-shadow: .09rem 2px 4px rgba(3, 3, 3, 0.52);
  position: absolute;
  left: 44%;
  top: 7%;
  .percent-symble {
    font-size: .45rem;
  }
}
.rankOne {
  left: 41%;
  top:8%;
  font-size: 0.55rem;
}
.rank-num {
  font-size: 2.67rem;
  color: #c41705;
  font-weight: bolder;
  text-shadow: .19rem .09rem 4px rgba(3, 3, 3, 0.36);
  display: block;
  width: 60%;
  text-align: center;
  position: absolute;
  left: 22%;
}
.rank-per-10 .rank-num{
  top: 30%;
}
.rank-other .rank-num{
  font-size: 2.5rem;
  top: 28%;
}
