<nav class="tabbar has-grey-bgc">
  <div class="row text-center">
    <a class="col-3 tab-button" routerLink="/pages/track" routerLinkActive="active">
      <i class="icon-track"></i>
      <span>业绩跟踪</span>
    </a>
    <a class="col-3 tab-button" routerLink="/pages/review" routerLinkActive="active">
      <i class="icon-review"></i>
      <span>业绩回顾</span>
    </a>
    <a class="col-3 tab-button" routerLink="/pages/rank" routerLinkActive="active">
      <i class="icon-rank"></i>
      <span>排行榜</span>
    </a>
    <a class="col-3 tab-button" routerLink="/pages/info" routerLinkActive="active">
      <i class="icon-info"></i>
      <span>个人信息</span>
    </a>
  </div>
</nav>
