.tabbar{
  padding:.2rem;
  width: inherit;
  font-size: .27rem;
  border-top: 1px solid #34353c;
}
a.tab-button{
  color: #929292;
  text-decoration: none;
  i{
    width: .61rem;
    height: .61rem;
    display: block;
    margin: auto;
    margin-bottom: .07rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
.icon-track{
  background-image: url(/assets/img/track-icon.png);
}
.icon-review{
  background-image: url(/assets/img/review-icon.png);
}
.icon-rank{
  background-image: url(/assets/img/rank-icon.png);
}
.icon-info{
  background-image: url(/assets/img/info-icon.png);
}
a.tab-button.active{
  color: #fdbf04;

  .icon-track{
    background-image: url(/assets/img/track-icon-active.png);
  }
  .icon-review{
    background-image: url(/assets/img/review-icon-active.png);
  }
  .icon-rank{
    background-image: url(/assets/img/rank-icon-active.png);
  }
  .icon-info{
    background-image: url(/assets/img/info-icon-active.png);
  }
}
